*{
	padding: 0;
	margin: 0;
	font-family: tahoma, Arial, Helvetica, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container-fluid{
	height: 100vh;
/*	background: lightskyblue;*/
}
.container-fluid .left{
	background: red;
}
.container-fluid #left-menu{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
.container-fluid #left-menu #xmark{
	float: right;
	cursor: pointer;
	padding-right: 20px;
	font-size: 25px;
	color: red;
}
.container-fluid .left-menu{
	height: 100vh;
	background: lightgray;
}
.container-fluid .left-menu ul{
	font-size: 19px;
	list-style: none;
	margin-left: -20px;
	border-bottom: 1px solid darkcyan;
	line-height: 40px;
	letter-spacing: 1px;
}
.container-fluid .left-menu ul li .dropdown{
	float: right;
	font-size: 15px;
	margin-top: 15px;
}
/*.container-fluid .left-menu ul li{
	list-style: none;
	border-bottom: 1px solid darkcyan;
	line-height: 50px;
	font-size: 20px;

}*/
.container-fluid .left-menu ul li:hover{
	cursor: pointer;
	background: darkgray;
}
.container-fluid .left-menu ul li i{
	padding-right: 10px;
}
.container-fluid .left-menu .list a{
	text-decoration: none;
	color: black;
}
.container-fluid .left-menu .list .book{
	display: none;
background: darkgray;
}
.container-fluid .left-menu .list .books:hover .book{
	display: block;
	transition: display .4s;
}
.container-fluid .left-menu .list .book a{
	text-decoration: none;
	color: black;
}
.container-fluid .left-menu .list .book li{
	padding-left: 30px;
}
.container-fluid .left-menu .list .book li:hover{
	border-left: 5px solid darkcyan;
	background: lightcyan;
}
.container-fluid .left-menu .logo img{
	width: 100%;
}
.container-fluid .left-menu .logo h2{
	font-family: impact;
	letter-spacing: 2px;
	color: grey;
}
.container-fluid .right-menu{
	height: 9vh;
	background: rgb(250, 195, 94);
}
.container-fluid .right-menu .account-1{
	float: right;
	margin-right: 30px;
	margin-top: -45px;
}
.container-fluid .right-menu .account img{
	border-radius: 50px;
	border: 3px solid lightgray;
}
.container-fluid .right-menu .account h2{
	font-size: 20px;
	padding-left: 10px;
}
.container-fluid .right-menu .account i{
	font-size: 15px;
	padding-left: 10px;
}
.container-fluid .right-menu .account .account-0 #menu{
	font-size: 25px;
	padding-left: 50px;
	padding-right: 30px;
	cursor: pointer;
}
.container-fluid .right-menu .account .account-0 p{
	margin-top: -5px;
	font-size: 25px;
	letter-spacing: 2px;
	font-family: impact;
}
.container-fluid .right-menu .account .account-3 ul{
	display: none;
}
.container-fluid .right-menu .account-1:hover .account-3 ul{
	display: block;
	list-style: none;
	background: lightgray;

}
.container-fluid .right-menu .account-1:hover .account-3 ul li{
	font-size: 18px;
	margin-bottom: 10px;
	margin-left: -30px;
}
.container-fluid .right-menu .account-1:hover .account-3 ul a{
	color: black;
	text-decoration: none;
}
.container-fluid .right-menu .account-1:hover .account-3 ul li:hover{
	background: rgb(250, 195, 94);
	cursor: pointer;
}

@media only screen and (max-width: 576px){
	.container-fluid .right-menu .account-1{
	float: right;
	margin-right: 30px;
	margin-top: -25px;
}
}